<div class="jumbotron text-center">
  <button type="button" onclick="dispTable()">Click Me!</button>
</div>
<script>
  function dispTable(){
    $.ajax({
          url: "/welcome/listCities"
        })
        .done(function(JSON_City_List) {
          alert(JSON_City_List);
        });
  }
</script>


