<div>
  <button type="button" class="button transition" onclick="dispTable()">Click Here to Refresh Data !</button>
</div>
<div id="table" class="center">
</div>
<div id="Map" style="width: 100%"></div>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

<script>
  var map;
  function initMap() {
      map = new google.maps.Map(document.getElementById('Map'), {
      center: {lat: 43, lng: -104},
      zoom: 4,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false,
      zoomControl: false,
      panControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    dispTable();
  }
  function dispTable(){
    $.ajax({
          url: "/welcome/list_cities"
        })
        .done(function(JSON_City_List) {
          //alert(JSON_City_List);
          var tbl=$("<table/>").attr("id","cities");
          $("#table").empty();
          $("#table").append(tbl);
          $("#cities").append("<tr><th>City</th><th>Latitude</th><th>Longitude</th></tr>");

          for (var i = 0; i < JSON_City_List.length; i++) {
            var city = JSON_City_List[i];

            var tr="<tr>";
            var td1="<td>"+city[0]+"</td>";
            var td2="<td>"+city[1]+"</td>";
            var td3="<td>"+city[2]+"</td></tr>";

            $("#cities").append(tr+td1+td2+td3);
          }
        });
  }
</script>


